
.reveal .slides .busted-vs-hotness th, .reveal .slides .busted-vs-hotness td {
    text-align: center;
}
.reveal .slides .busted-vs-hotness small {
    display: block;
}
.reveal .slides .busted-vs-hotness {
    font-size: 0.83em;
    /* width: 10px; */
}
.reveal .slides .busted-vs-hotness tr>th:nth-child(1) {
    font-weight: normal;
    background-color: rgb(128, 64, 0);
    color: rgb(200, 200, 100);
}
.reveal .slides .busted-vs-hotness tr>th:nth-child(2) {
    font-style: oblique;
    background-color: rgb(255, 0, 0);
    color: white;
}
.reveal .slides .busted-vs-hotness tr>td:nth-child(1) {
    /*busted*/
    color: brown;
}
.reveal .slides .busted-vs-hotness tr>td:nth-child(2) {
    /*hotness*/
    color: red;
}
